#map-canvas
{
	height: 500px;
	display: table-row;
}

.btn-toggle
{
	width: 55px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=range].rangeStyle {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.95px 0;
}
input[type=range].rangeStyle:focus {
  outline: none;
}
input[type=range].rangeStyle::-webkit-slider-runnable-track {
  width: 100%;
  height: 15.1px;
  cursor: pointer;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.53), 0px 0px 0px rgba(13, 13, 13, 0.53);
  background: #494d4d;
  border-radius: 6.8px;
  border: 0px solid #000101;
}
input[type=range].rangeStyle::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.8px #5e0000, 0px 0px 0px #780000;
  border: 0px solid rgba(0, 0, 0, 0.9);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: rgba(252, 252, 252, 0.98);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.95px;
}
input[type=range].rangeStyle:focus::-webkit-slider-runnable-track {
  background: #737a7a;
}
input[type=range].rangeStyle::-moz-range-track {
  width: 100%;
  height: 15.1px;
  cursor: pointer;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.53), 0px 0px 0px rgba(13, 13, 13, 0.53);
  background: #494d4d;
  border-radius: 6.8px;
  border: 0px solid #000101;
}
input[type=range].rangeStyle::-moz-range-thumb {
  box-shadow: 0px 0px 1.8px #5e0000, 0px 0px 0px #780000;
  border: 0px solid rgba(0, 0, 0, 0.9);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: rgba(252, 252, 252, 0.98);
  cursor: pointer;
}
input[type=range].rangeStyle::-ms-track {
  width: 100%;
  height: 15.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].rangeStyle::-ms-fill-lower {
  background: #1f2020;
  border: 0px solid #000101;
  border-radius: 13.6px;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.53), 0px 0px 0px rgba(13, 13, 13, 0.53);
}
input[type=range].rangeStyle::-ms-fill-upper {
  background: #494d4d;
  border: 0px solid #000101;
  border-radius: 13.6px;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.53), 0px 0px 0px rgba(13, 13, 13, 0.53);
}
input[type=range].rangeStyle::-ms-thumb {
  box-shadow: 0px 0px 1.8px #5e0000, 0px 0px 0px #780000;
  border: 0px solid rgba(0, 0, 0, 0.9);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: rgba(252, 252, 252, 0.98);
  cursor: pointer;
  height: 15.1px;
}
input[type=range].rangeStyle:focus::-ms-fill-lower {
  background: #494d4d;
}
input[type=range].rangeStyle:focus::-ms-fill-upper {
  background: #737a7a;
}
